# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.env
venv/
ENV/

# Flask
instance/
.webassets-cache

# SQLite database
*.sqlite

# Elastic Beanstalk
.elasticbeanstalk/
.ebextensions/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
