# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/

# Flask
instance/
.webassets-cache

# SQLite database
*.sqlite

# Elastic Beanstalk
.elasticbeanstalk/
.ebextensions/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
